<ion-view title="Account">
  <ion-content class="has-header padding" scroll="true">
    <h1>Account</h1>
      <paper-button class="colored" raisedButton onclick="document.querySelector('#toast1').show()">Discard Draft <paper-shadow z="1"></paper-shadow></paper-button>

      <paper-button class="colored" raisedButton onclick="document.querySelector('#toast2').show()">Get Messages <paper-shadow z="3"></paper-shadow></paper-button>

      <paper-button class="colored" raisedButton onclick="document.querySelector('#toast3').show()">Send Message <paper-shadow z="5"></paper-shadow></paper-button>


  </ion-content>

</ion-view>
